:root {
  --dark: #13293d;
  --light: aliceblue;
  --tan: #d8a47f;
  --red: #772014;
}

*{
  box-sizing: border-box;
}

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
}

header {
  padding:60px;
  text-align:left;
  background:var(--dark);
  color:var(--tan);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 300%;
}

/*Navigation Links */

nav ul {
  display:flex;
  justify-content:space-around;
  padding-top:50px;
  min-width:5px;
  font-family:monospace;
  font-size:75%;
  }

nav a {
  color:var(--tan);
  font-weight:normal;
  text-decoration:none;
}

nav a:hover {
  color:var(--light);
}

main {
  display:flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap:wrap;
  margin-top:0%;
}

/* Sets properties of images */

.card header {
  padding: 0px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 25%;
  min-width: 400px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card {
  flex: 25%;
  background-color: var(--light);
  padding: 10px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.content {
  display:flex;
  justify-content:start;
  flex-wrap:wrap;
  padding-top:30px;
  line-height: 30px;
}

/*Spaces the contact me section*/
.contact {
  display:flex;
  justify-content:end;
  flex-wrap:wrap;
  background-color:var(--light);
  color:var(--dark);
  padding:20 20;
  line-height:30px;
}

footer {
  padding:20px;
  text-align:center;
  background:var(--dark);
  color:var(--light);
}

/* Sets Responsiveness for tablets */
@media screen and (max-width: 992px) {
  header {
   flex:30%;
   
  }
  nav ul {
    flex-direction:row;
  }

  .card {
    flex:30%;
  }

  .content {
    flex-flow:wrap;
    word-wrap: normal;
    width:10%;
  }

  .contact {
    justify-content:left;
  }
}

/* Sets responsiveness for large smartphones */
@media screen and (max-width: 768px) {
  header {
    width:1100px;
  }

  nav ul {
    flex-direction:column;
  }

  footer {
    width:200%;
    text-align:left;
  }
}
/* Sets resposiveness for small smartphones */
@media screen and (max-width: 576px) {
  header {
    width:200%;
  }
  
  h2 {
    text-align:left;
  }
  .card {
    width:500%;
    flex-direction:row;
    padding-right:105px;
    padding-top:50px;
  }

  .content {
    width:80%;
    padding:45px;
  }

  .contact {
    width:100%;
    padding:45px;
  }

  footer {
    width:300%;
  }
}
