:root {
  --dark: #13293d;
  --light: aliceblue;
  --tan: #d8a47f;
  --red: #772014;
}

*{
  box-sizing: border-box;
}

body {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin:0px;
}

header {
  padding:60px;
  text-align:left;
  background:var(--dark);
  color:var(--tan);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 300%;
}

/*Navigation Links */

nav ul {
  display:flex;
  justify-content:space-around;
  padding-top:50px;
  min-width:5px;
  font-family:monospace;
  font-size:75%;
  }

nav a {
  color:var(--tan);
  font-weight:normal;
  text-decoration:none;
}

nav a:hover {
  color:var(--light);
}

main {
  display:flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap:wrap;
  margin-top:0%;
  background-color:var(--light);
}

/* Sets properties of images */

.card header {
  padding:5px;
  background:var(--dark);
  color:var(--light);
}

.card img {
  width:25%;
  min-width:400px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.card {
  flex:25%;
  padding:10px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
}
/* Container holding the image */
.container {
  position:relative;
  text-align:center;
  color:white;
}
/* Centered Text in container */
.centered {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

/* Sets properties of about me section */
.content {
  display:flex;
  justify-content:start;
  flex-wrap:wrap;
  padding-top:30px;
  line-height:30px;
  padding:20px;
}

.content img {
  border-radius:15px;
  justify-content:center;
}

/* Spaces the contact me section */
.contact {
  display:flex;
  justify-content:start;
  flex-wrap:wrap;
  padding-top:30px;
  line-height:25px;
  padding:20px;
}

form {
  padding:0px;
}

/* Sets properties for footer */
footer {
  padding:20px;
  text-align:center;
  background:var(--dark);
  color:var(--light);
}

/* Sets Responsiveness for tablets */
@media screen and (max-width: 992px) {
  .content {
    width:80%;
  }
}
/* Sets responsiveness for large smartphones */
@media screen and (max-width: 768px) {
 
  /* Extends header to full width of page */
  header {
    width:100%;
  }

  /* Eliminates white space on right side of screen */
  body {
    background:var(--light); 
  }

  nav ul {
    flex-direction:column;
  }

  footer {
    width:100%;
    text-align:left;
  }
}

/* Sets resposiveness for small smartphones */
@media screen and (max-width: 576px) {
  header {
    width:100%;
  }

  body{
    /* Eliminates white space on right side of screen */
    background:var(--light); 
  }

  h2 {
    text-align:left;
  }
  .card {
    width:100%;
    flex-direction:row;
    justify-content:center;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
    padding-top:45px;
    background-color:var(--light);
  }

  .content .contact {
    width:100%;
    padding:0px;
  }

  footer {
    width:100%;
  }
}
