:root {
  --dark: #13293d;
  --light: aliceblue;
  --tan: #d8a47f;
  --red: #772014;
}

*{
  box-sizing: border-box;
}

body {
  font-family: Monospace;
  margin: 0;
}

header {
  padding-top:30px;
  padding-left:30px;
  text-align:left;
  background:var(--dark);
  color:var(--tan);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 250%;
}

nav ul {
  display:flex;
  background-color:var(--dark);
  justify-content:end;
  text-align:right;
  margin-top:80px;
  padding-bottom:20px;
  min-width:300px;
  font-family:monospace;
  }

nav a {
  color:var(--tan);
  font-weight:100;
  text-decoration:none;
  padding:30px;
}

nav a:hover {
  color:var(--light);
}

main {
  display:flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap:wrap;
  margin-top:0%;
}

.card img {
  width: 100%;
  min-width: 400px;
  display:inline-flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.card {
  flex: 25%;
  background-color: var(--light);
  padding: 10px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}


/* Image Placeholders */
.content {
  display:flex;
  justify-content:space-between;
  flex: 1 1 0;
  flex-wrap:wrap;
  flex-direction:row;
  background-color:var(--aliceblue);
  color: var(--dark);
  font-size: 100%;
  line-height:1.5em;
  width:100%;
  padding: 10px;
  height:200px;
}

.image {
  display:block;
  width:50%;
  height:5%;
  line-height: 5%;
}

.contact {
  display:block;
  background-color:var(--light);
  color:var(--dark);
  list-style:circle;
  width:100%;
  font-family:'Courier New', Courier, monospace;
}

label {
  display: block;
}

footer {
  display:block;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color:var(--tan);

}

/* When using 'max-width' as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width:992px) {
  header {
    background: #772014;
  }
  nav ul {
    background-color:var(--red);
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width:768px) {
  nav {
    background-color: #bb8588;
  }
}


/* Small smartphones - image placeholders change color */
@media screen and (max-width:576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}